<h2>Edit file: <%= @file %></h2>
<%= form_tag update_file_path, :method => :put do %>

  <%= label_tag :content %>
  <%= text_area_tag :content, @data, class: 'form-control', rows: 10 %>
  <div class="clearfix margin"></div>
  <%= link_to 'Cancel', files_path, class: 'btn btn-danger' %>
  <%= submit_tag 'Save File', class: 'btn btn-default' %>
<% end %>