<h1>New file</h1>
<%= form_for @file do |file| %>

  <%= file.label :name %>
  <%= file.text_field :name, class: 'form-control' %>
  <%= file.label :content %>
  <%= file.text_area :content, class: 'form-control', rows: 10 %>
  <%= link_to 'Cancel', files_path, class: 'btn btn-default' %>
  <%= file.submit 'Save File', class: 'btn btn-default' %>
<% end %>